html, body {
  border: 0;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Quicksand', helvetica;
  font-weight: 300;
  margin: 24px;
  background: #f0f0f0;
  -webkit-backface-visibility: hidden;
  color: #444;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 64px;
  margin-bottom: 40px;
  font-weight: 300;
  text-shadow: 0 1px 1px #fff;
  text-transform: lowercase; }

h2 {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 300;
  text-shadow: 0 1px 1px #fff;
  text-transform: lowercase; }

a:active, a:hover {
  outline: 0; }

.button {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: 0 10px;
  background-color: #fff;
  color: #444;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2;
  border-top-color: #d8d8d8;
  border-right-color: #d1d1d1;
  border-bottom-color: #bababa;
  border-left-color: #d1d1d1;
  border-style: solid;
  border-width: 1px; }

.container {
  margin: 0 auto;
  max-width: 600px; }

.row {
  float: left;
  width: 100%;
  padding: 20px 0 50px; }

.col-1 {
  float: left;
  width: 93%;
  margin: 0 3% 40px 3%;
  position: relative;
  text-align: left; }

.col-2 {
  float: left;
  width: 43.5%;
  margin: 0 3% 40px 3%;
  position: relative;
  text-align: left; }

.col-3 {
  float: left;
  width: 27.33%;
  margin: 0 3% 40px 3%;
  position: relative;
  text-align: left; }

.center {
  clear: both;
  text-align: center; }

.input-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: 1px solid transparent;
  border-bottom-color: #85ADB2;
  color: #13c6f3;
  font-family: 'Montserrat', helvetica;
  font-weight: 300;
  width: 100%;
  padding: 7px 14px;
  transition: 0.4s;
  background: transparent;
  font-size: 24px;
  transition: background-color 0.3s; }
  .input-field:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0; }
  .input-field ~ .focus-border:before, .input-field ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #13c6f3;
    transition: 0.3s; }
  .input-field ~ .focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0; }
  .input-field ~ .focus-border i:before,
  .input-field ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background-color: #13c6f3;
    transition: 0.4s; }
  .input-field ~ .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0; }
  .input-field:focus ~ .focus-border:before,
  .input-field:focus ~ .focus-border:after,
  .input-field.has-value ~ .focus-border:before,
  .input-field.has-value ~ .focus-border:after {
    width: 100%;
    transition: 0.3s; }
  .input-field:focus ~ .focus-border i:before,
  .input-field:focus ~ .focus-border i:after,
  .input-field.has-value ~ .focus-border i:before,
  .input-field.has-value ~ .focus-border i:after {
    height: 100%;
    transition: 0.4s; }
  .input-field ~ label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #333;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    transition: background-color 0.3s; }
  .input-field:focus ~ label, .input-field.has-value ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #333;
    transition: 0.3s; }
  .input-field ~ .error-label {
    transition: 0.4s;
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 14px;
    color: #f137a4;
    text-align: right; }
  .input-field.error {
    border-bottom-color: #f137a4; }
    .input-field.error ~ .focus-border:before, .input-field.error ~ .focus-border:after, .input-field.error ~ .focus-border i:before, .input-field.error ~ .focus-border i:after {
      background-color: #f137a4; }
    .input-field.error ~ .error-label {
      bottom: -22px;
      opacity: 1; }

.error-messages {
  list-style-type: none;
  font-size: 28px;
  margin-bottom: 20px; }
  .error-messages li {
    list-style-type: none;
    color: #f137a4; }

table {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 40px auto;
  border: 0;
  border-collapse: collapse; }
  table th {
    text-align: left;
    border-bottom: solid 1px #628697;
    color: #666;
    padding: 8px; }
  table td {
    text-align: left;
    border-bottom: solid 1px #628697;
    color: #333;
    padding: 8px; }

.delete-icon {
  -webkit-appearance: none;
  display: inline-block;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  transition: box-shadow .2s ease; }

.delete-icon:hover .lid, .delete-icon:hover .lidcap {
  transform: rotate(40deg);
  margin-bottom: 3.5px;
  margin-right: -2.5px; }

.lidcap, .lid, .bin {
  position: absolute; }

.lidcap, .lid {
  border-top-left-radius: 0.4px;
  border-top-right-radius: 0.4px;
  background: #555;
  transition: transform .2s linear, margin .2s linear; }

.lidcap {
  bottom: 15px;
  left: 9px;
  height: 1px;
  width: 2px; }

.lid {
  bottom: 13px;
  left: 3px;
  width: 14px;
  height: 2px; }

.bin {
  bottom: 0;
  left: 4.5px;
  width: 10px;
  border-top: 12px solid #555;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent; }
